#setting-container {
  padding: 2px;
  width: 240px;
  background-color: lightskyblue;
  border: 1px solid darkblue;
  border-radius: 4px;
  margin: 10px 4px;
}

#setting-text {
  margin-left: 5px;
  font-size: medium
}

li {
  margin: 3px 0;
  width: 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
}